
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{% block title %} Kitap ND {% endblock %}</title>

    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="{% static 'image/png' %}" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="{% static 'image/png' %}" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="{% static 'safari-pinned-tab.svg' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
    {% block css %}
    {% endblock %}
  </head>
  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- Sign in / sign up modal-->
 
    <!-- Navbar 3 Level (Light)-->
    <div id="app">


    <header class="shadow-sm">
      <!-- Topbar-->
      {% include 'base/topbar.html' %}
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0" href="index.html"><img src="{% static "img/logo-dark.png" %}" width="142" alt="Cartzilla"></a><a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="index.html"><img src="{% static 'img/logo-icon.png' %}" width="74" alt="Cartzilla"></a>
            <div class="input-group d-none d-lg-flex mx-4">
              <input class="form-control rounded-end pe-5" type="text" placeholder="Search for products"><i class="ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i>
            </div>
            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
            <!-- 2 alt satırdaki hrefe if else koyalım. if kullanıcı login olduysa profile götürsün yoksa login ekranına -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">Expand menu</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div></a><a class="navbar-tool d-none d-lg-flex" href="account-wishlist.html"><span class="navbar-tool-tooltip">Wishlist</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div></a>
                <!--<a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="{% url 'login' %}" data-bs-toggle="modal">
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                 <div class="navbar-tool-text ms-n3"><small>Hello, Sign in</small>My Account</div></a> -->
                {% include 'base/navbar_profil.html' %}

                <!-- HESAP KISMI yukarısı -->
              <div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="shop-cart.html"><span class="navbar-tool-label">4</span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text" href="shop-cart.html"><small>My Cart</small>$265.00</a>
                <!-- Cart dropdown-->
                {% include 'base/sepet.html' %}
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <!-- Search-->
              <div class="input-group d-lg-none my-3"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                <input class="form-control rounded-start" type="text" placeholder="Search for products">
              </div>
              <!-- Departments menu Kategoriler de diyebiliriz-->
             {% include 'base/kategoriler.html' %}
              <!-- Primary menu-->
             {% include 'base/navbar.html' %}
          </div>
        </div>
      </div>
    </header>

    <!-- MESSAGES FRAMEWORK -->
    
   
        {% include 'base/messages.html' %}
    
   {% block body %}
   {% endblock %}
        
       
    <!-- Footer-->
   
     {% include 'base/footer.html' %}
    <!-- Toolbar for handheld devices kücük cihazlar için alt bar -->

    {% include 'base/mobil_altbar.html' %}

    </div> <!-- VUEJS MOUNT DIV -->
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="{% static 'js/vue-avatar.min.js' %}"></script>
    <!-- Main theme script-->
<script src="{% static 'js/theme.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    {% block js %}
    {% endblock %}
           {% block vue %}
     <script type="application/javascript">
            var app = new Vue({
                delimiters : ["[[","]]"],
                el : "#app",

                data : {
                    text : "test",
            {% block vue_data %}
            {% endblock %}
                },
            methods : {
            {% block vue_method %}
            {% endblock %}
            },
            created(){
                {% block vue_created %}
                {% endblock %}
            }
            });
        </script>

    {% endblock %}


  </body>
</html>